<div class="container mt-5">
    <div class="text-center">
      <h1>Desbloquea la excelencia en e-learning con Premium</h1>
      <p>Elige el plan que mejor se adapte a ti</p>
    </div>
  
    <div class="row mt-4">
      <div class="col">      <!-- Prueba Gratuita -->

        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Prueba Gratuita</h2>
            <p class="card-text">Acceso completo durante 1 semana</p>
            <ul>
              <li>Acceso completo a todos los cursos</li>
              <li>Soporte básico</li>
            </ul>
            <button class="btn btn-custom">Subscribirse</button>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">$19.99 /mes</h2>
            <p class="card-text">Acceso completo durante 1 mes</p>
            <ul>
              <li>Acceso completo a todos los cursos</li>
              <li>Soporte premium</li>
              <li>Registro de progreso</li>
              <li>Acceso a nuevos cursos mensuales</li>
            </ul>
            <button class="btn btn-custom">Subscribirse</button>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">$49.99 /3 meses</h2>
            <p class="card-text">Acceso completo durante 3 meses</p>
            <ul>
              <li>Acceso completo a todos los cursos</li>
              <li>Soporte premium</li>
              <li>Registro de progreso avanzado</li>
              <li>Acceso a nuevos cursos trimestrales</li>
              <li>1 consulta personalizada</li>
            </ul>
            <button class="btn btn-custom">Subscribirse</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">$199.99 /año</h2>
            <p class="card-text">Acceso completo durante 1 año</p>
            <ul>
              <li>Acceso completo a todos los cursos</li>
              <li>Soporte VIP</li>
              <li>Registro de progreso avanzado</li>
              <li>Acceso inmediato a nuevos cursos</li>
              <li>3 consultas personalizadas</li>
              <li>Descuentos en futuros cursos</li>
            </ul>
            <button class="btn btn-custom">Subscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
