<div class="container mt-5">
    <div class="row mt-4">
      <div *ngFor="let assignment of assignmentStore.assignment$ | async" class="col">     
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ assignment.title }}</h2> 
            <p class="card-text">Fecha de creación: {{ assignment.startDate }}</p> 
            <div class="d-flex justify-content-center">
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
                <button type="button" pButton label="Tomar evaluación"  (click)="confirm($event, assignment.id)" class="btn btn-primary"></button>
            </div>
            <!-- <button class="btn btn-custom" (click)="onSubscribe(assignment)">Tomar examen</button>-->
          </div>
        </div>
      </div>
    </div>
</div>
  