<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pregunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h5>
            <p class="card-text" *ngIf="questions.length > 0">{{ questions[currentQuestionIndex].content }}</p>

            <!-- Inicio de la iteración de opciones -->
            <div *ngFor="let option of questions[currentQuestionIndex].options" class="form-check">
                <input class="form-check-input" type="radio" name="options" 
                       id="option{{ option.id }}" [checked]="option.isSelected"
                       (click)="selectOption(option.id)">
                <label class="form-check-label" for="option{{ option.id }}">
                    {{ option.option }}
                </label>
            </div>
            <!-- Fin de la iteración de opciones -->

            <!-- Botones de navegación -->
            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-primary" (click)="goToPreviousQuestion()" 
                        [disabled]="currentQuestionIndex === 0">Anterior</button>
                <button class="btn btn-primary" (click)="goToNextQuestion()" 
                        [disabled]="currentQuestionIndex === questions.length - 1">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<br>

<div class="d-flex justify-content-center">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <button type="button" pButton label="Enviar Respuestas"  (click)="confirm($event)" class="btn btn-primary" [disabled]="!allQuestionsAnswered()"></button>
</div>
<p-dialog header="Calificación" [(visible)]="displayScoreModal">
    <div *ngIf="scoreDto">Calificación: {{ scoreDto.score }}/{{ scoreDto.maxScore }}</div>
    <button type="button" class="btn btn-outline-primary" (click)="goToMenu()">Regresar al Menu</button>


</p-dialog>
