.video-container {
  position: relative;
  width: 100%;
  max-width: 720px; /* Ajusta al tamaño que prefieras */
  margin: auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.6); /* Sombra para destacar el video */
  margin-top: 200px;
}

.video-player {
  width: 100%;
  height: auto;
  display: block; /* Elimina cualquier espacio extra alrededor del video */
}

.video-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 5px 10px;
  border-radius: 5px;
}

.live-indicator {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .video-container {
    width: 100%;
  }
}
